/* .parallax{
    position: relative;
}

.main-content{
    height: 100vh;
}

.home-text{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.learn-more{
    background: linear-gradient(45deg, #f7d0e6, #fe0698 0, #ef165d 30%, #ef6916 41%, #f29407 55%, #f29407 100%, #f29407 0);
    border: none;
    border-radius: 7px;
    color: #fff;
    font-family: Mont-Regular;
    font-size: 15px;
    height: 35px;
    padding: 2px 4px;
    margin-top: 20px;

}

.slogan-div {
    background-color: orange;
    width: 450px;
    padding: 10px 30px;
    margin-top: -570px;
    float: right;
    border-radius: 7px 0px 0px 7px;
}

.slogan{
    color: #ffffff;
    font-size: x-large;
} */

.home-main {
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
    background-image: url("../Home/image.jpg");
    background-position: center;
    background-size: cover;
}
.home-conent {
    padding: 2rem 43px 6rem;
    width: 88%;
    margin: auto;
    transform: translateY(11rem);
    margin-top: 0rem;
    background: #3737375c;
    border-radius: 10px;
    color: white;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    box-shadow: 1px 1px 21px rgb(255 255 255 / 66%);
}

.home-conent p {font-size: 28px;}

.home-conent h1 {
    font-size: 60px;
}


.slogan {
    background: #e58006;
    width: 40%;
    height: 40px;
    position: absolute;
    top: 128px;
    right: 0;
    text-align: center;
    font-size: 24px;
    padding: 12px 0px 7px;
    border-radius: 20px 0px;
    color: white;
}